#gameboard {
    border: 3px black solid;
    height: 400px;
    width: 400px;
}

.pixels {
    border: 2px black solid;
    width: 100%
    height: 100%
}

.pixels td {
    border: 1px;
}

.black {
    background: black;
}
.white {
    background: white;
}
.yellow {
    background: yellow;
}

.big {
    font-size: 240%;
}

#my_word {
    font-size: 240%;
}
#our_sentence {
    font-size: 240%;
}

